::-webkit-scrollbar {
    width: 0;
    height: 0;
}


/* nc = need-color */

span {
    color: var(--nc, var(--fg-color, transparent));
    background-color: var(--bnc, transparent);
}


/* bnc = background-need-color */

#_icon {
    width: 250px;
    height: 250px;
    margin-top: 40px;
    filter: brightness(1.15) contrast(1.1) drop-shadow(5px -5px 0px var(--sub-theme-color));
    transition: all 2s;
    opacity: 0.65;
    animation: float 4.5s ease-in-out infinite;
}

#_onload {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: var(--fg-color);
    transition: opacity 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--sub-theme-color);
    filter: brightness(1.2) contrast(1.3);
}

* {
    transition: color 1s, background-color 1s, fill 1s;
}

html {
    scroll-behavior: smooth !important;
    font-family: system-ui !important;
    font-weight: bold !important;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    filter: brightness(1.2) contrast(1.1);
    user-select: none !important;
}

#top_div {
    min-width: var(--max-width);
    height: 65vh;
    overflow-y: scroll;
    text-align: center;
    background-color: var(--fg-color);
    min-height: 447px;
    z-index: 2;
}

path {
    fill: var(--fg-color);
}

#top_block_wave,
#bottom_block_wave {
    width: 100vw;
    filter: drop-shadow(0px 3px 3px var(--sub-theme-color));
    min-width: var(--max-width);
}

#bottom_block_wave {
    z-index: 11;
    filter: drop-shadow(0px -3px 3px var(--sub-theme-color)) contrast(1.1) brightness(1.1);
    bottom: 0;
}

#bottom_block_wave text {
    font-size: 4em;
    color: var(--max-width);
    fill: var(--sub-theme-color);
    opacity: 0.45;
    cursor: pointer;
}

#top_div h6 {
    width: 100vw;
    position: absolute;
    opacity: 0;
    top: 8.5vh;
    left: 50px;
    font-size: 1.6em;
    min-width: 1088px;
    transition: opacity 0.45s;
    letter-spacing: 0.1em;
    color: var(--sub-theme-color);
    filter: brightness(.9) contrast(1.2);
}

#menu {
    margin: 60px 0 0 15px;
    width: 300px;
    white-space: nowrap;
    display: flex;
    z-index: 10;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu>button {
    margin-bottom: 25px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 2rem;
    border: none;
    background: transparent;
    text-align: center;
    width: 300px;
    color: var(--sub-theme-color);
    transition: width 0.7s, background-color 0.9s, filter, 0.8s;
    border-radius: 6px;
    padding: 0 5px 0 5px;
    cursor: pointer;
    z-index: 10;
}

#menu>button[open="false"]:hover {
    background-color: var(--sub-theme-color);
    width: calc(var(--offset) * 7.3%);
    color: var(--fg-color);
}

#_name {
    position: absolute;
    top: 3vh;
    left: 50px;
    text-align: center;
    width: 100vw;
    letter-spacing: 0.15em;
    font-size: 3em;
    color: var(--sub-theme-color);
    z-index: -1;
    min-width: 980px;
    direction: ltr;
}

#_bip {
    position: absolute;
    width: 32px;
    height: 60px;
    background: var(--sub-theme-color);
    top: 6px;
    animation: bip 0.85s ease-in-out infinite;
    filter: brightness(0.9) contrast(0.9);
}

@keyframes bip {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-15px);
    }
    100% {
        transform: translatey(0px);
    }
}

#theme_icon {
    font-size: 1.85em;
    position: absolute;
    z-index: 10;
    top: 34.5px;
    right: 71px;
    color: var(--sub-theme-color);
    transition: right 0.7s;
    pointer-events: none;
}

#menu_bar {
    width: 300px;
    z-index: 10;
    height: 56vh;
    position: absolute;
}

#panel_information {
    z-index: -1;
    width: 100vw;
    height: 44%;
    background-color: transparent;
    filter: brightness(1.1) contrast(0.9);
    border-width: 5px;
    margin-top: -80px;
}


/*   SECTION STYOE SHEET   */

#container_block {
    transition: height 1.5s;
    height: 100%;
    min-height: 757px;
    width: 100%;
    overflow-y: hidden;
}

#container_block>div {
    opacity: 0;
    display: none;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--sub-theme-color);
}

.data_section_container {
    width: 100vw;
    background: var(--bg-color);
    color: var(--sub-theme-color);
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

.data_section_container *>span,
.data_section_container>span {
    border-radius: 5px;
    background-color: var(--sub-theme-color);
    padding: 0 5px 0 5px;
}


/* ABOUT ME */

a {
    text-decoration: none;
    color: var(--sub-theme-color);
}

#AboutMeSection {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    height: 388px;
    padding: 0 90px 0 90px;
    flex-wrap: wrap;
    gap: 12px;
}


/* PROFILE ME */

#ProfileSection,
#ExperienceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 30px 0;
    font-size: 1.75em;
}

#ProfileSection>*,
#ExperienceSection>* {
    margin-top: 25px;
}

#ProfileSection>div,
#ExperienceSection>div {
    width: 25vw;
    text-transform: none;
    letter-spacing: 0.05em;
    font-size: 0.85em;
    box-shadow: 0 0 5px var(--sub-theme-color);
    border-radius: 8px;
    padding: 12px 12px 12px 12px;
}

.carousel3d_data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel3d_data img {
    width: 45%;
    height: 75%;
    filter: brightness(0.5) contrast(1.5);
}

.carousel3d_data h3 {
    color: var(--fg-color);
    margin: 25px;
}

#keysubmit {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    height: 60px;
    font-family: system-ui;
    font-weight: bold;
    font-size: 1.85em;
    border: none;
    border-radius: 6px;
    background: var(--sub-theme-color);
    color: var(--fg-color);
    cursor: pointer;
}

#key {
    margin-top: 5%;
    border: none;
    outline: none;
    text-align: center;
    height: 30px;
    background: var(--sub-theme-color);
    font-family: system-ui;
    font-size: 1.35em;
    font-weight: bold;
    color: var(--bg-color);
}

#key::placeholder {
    color: var(--sub-theme-color);
    opacity: 0.5;
}