body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--default-theme);
    transition: 0;
    font-weight: bold;
    min-height: 100vh;
    overflow: hidden;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}

#PageLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 2s background, 0s background-color;
}

#PageLoader>i {
    font-size: 5em !important;
}

* {
    transition: 1.25s color, 2s background-color, 0.5s left, 0.5s right !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#PanelDataApi_Container {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-around;
    margin-top: 30px;
    transition: 0s !important;
    flex-wrap: wrap;
}

.PanelDataApi {
    width: 280px;
    height: 685px;
    margin: 20px;
    background-color: var(--fg-color);
    box-shadow: 0 0px 10px 5px var(--neon-color), inset 0 0px 22px 3px var(--neon-color);
    border-radius: 15px;
    filter: brightness(1.15) contrast(1.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-color) !important;
}

.PanelDataApi>img[name="profile"] {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 135px;
    height: 135px;
    background-color: var(--fg-color);
    border-radius: 50%;
    border-width: 5px;
    border-color: var(--neon-color);
    box-shadow: inset 0 0 20px 0px var(--neon-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    overflow: hidden;
    filter: brightness(0.8) drop-shadow(0px 0px 5px var(--neon-color));
}

.PanelDataApi>*:not([name="profile"]) {
    margin: 0;
    margin-bottom: 10px;
}

.PanelDataApi>div[name="BottomInformation"] {
    width: 255px;
    height: 95px;
    background-color: transparent;
    box-shadow: 0 0px 3px 3px var(--neon-color), inset 0 0px 3px 0px var(--neon-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.PanelDataApi>div[name="BottomInformation"]>* {
    margin: 0;
    width: 100%;
    text-align: center;
}

.PanelDataApi>div[name="BottomInformation"]>:first-child {
    margin-top: 12px !important;
}

.PanelDataApi>div[name="BottomInformation"]>:last-child {
    font-size: 0.7em;
}

#crt {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--default-theme);
    filter: invert();
    opacity: 0.4;
    z-index: -5;
    top: 0;
    left: 0;
}

.logoagile {
    z-index: -10;
}