/* Switcher Section */

.switch {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 20px;
    z-index: 10;
    right: 107px;
}

.switch::before {
    content: "";
    border-radius: 60px;
    position: absolute;
    width: 95px;
    height: 50px;
    background-color: var(--bg-color);
    transition: all 0.75s;
    cursor: pointer;
}

.switch::after {
    content: "";
    margin: 6px 7px 0 7px;
    position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--fg-color);
    transition: all 0.65s;
    cursor: pointer;
    filter: brightness(3.5);
}

.switch:checked::after {
    transform: translateX(42px);
    border-radius: 8px;
}

.switch:checked::before {
    border-radius: 8px;
}